   <!-- Navigation -->

    <!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h2>Exclusive</h2>
        <h4>for jeandee and clen only</h4>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>
<!-- About -->


<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Under Construction</h2>                
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
