
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">

        <div class="container">


            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">

                    <h1 class="text-center">New Entry</h1>

                    <div>
  
                        @using (Html.BeginForm("Create", "Ledger", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Description" name="description" required autofocus>
                            <label>Earned</label>
                            <input type="text" class="form-control" placeholder="Earned" name="earned" value="0" required>
                            <label>Used</label>
                            <input type="text" class="form-control" placeholder="Used" name="used" value="0" required>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Create
                            </button>
                            <br />
                        }

                    </div>

                </div>
            </div>



        </div>

    </div>
</div>